<div class="myPageRight">
    <div class="myPageRightWrap">
        <div class="myPageRightWrapInfo">
            <div class="myPageRightWrapInfoModWrap" style="background-image: url(../image/modifybg.png">
                <div class="myPageRightWrapForm">
                    <form action="#" method="POST">
                            <input type="hidden" th:value="${#authentication.getPrincipal().userVO.getId()}" name="id" id="modaddrname">
                        <div class="myPageModInputFormWrap">
                            <div class="myPageModInputFormText">현재 배송지</div>
                            <div class="mypageModInputFormData">
                                <input type="text" name="ordAddr" class="addrInput" id="changeAddr" placeholder="주소를 입력해주세요."
                                       >
                                <button type="button" class="payGetAddrBtn" id="payGetAddrBtn">주소 검색</button>
                                <div class="pencil" style="background-image: url(../image/penLine.png"></div>
                                <input type="text" name="ordAddrDetail" id="addrDetailInput" placeholder="상세 주소를 입력해주세요."
                                       >
                                <div class="pencil" style="background-image: url(../image/penLine.png"></div>
                            </div>
                        </div>
                        <div class="myPageModInputFormWrap addrphoneNum">
                            <div class="myPageModInputFormText">전화번호</div>
                            <div class="mypageModInputFormData">
                                <input type="text" name="phone" id="changePhone" placeholder="'-' 제외하고 입력해주세요.">
                                <div class="pencil" style="background-image: url(../image/penLine.png"></div>
                            </div>
                        </div>
                        <div class="myPageModInputFormWrapBtn" style="background-image: url(../image/modifybtnline.png">
                            <button type="button" id="submitAddrButton" class="myPageModBtn">배송지 수정</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- daum 주소검색 api 사용 구문 -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
